{% extends "base.html.twig" %}
{% block title %}Categorie :
	{{ category.name }}
{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path ('homepage') }}">
				<font style="vertical-align: inherit;">Accueil
				</font>
			</a>
		</li>
		<li class="breadcrumb-item active">
			<font style="vertical-align: inherit;">{{ category.name }}
			</font>
		</li>
	</ol>

	<h1>Catégorie:
		{{ category.name }}</h1>
	<div class="row">
		{% for p in category.products %}
			<div class="col-3">
				<div class="card">
					<img src="{{ p.mainPicture }}" class="img-fluid" alt="Image du produit">
					<div class="card-body">
						<h4 class="card-title">{{ p.name }}
							({{ p.price /100 }}
							&euro;)</h4>
						<span style="color:teal">{{ p.category.name }}</span>
						<p>{{ p.shortDescription }}</p>

						<a href="{{ path ('product_show', {'category_slug': p.category.slug, 'slug': p.slug}) }}" class="btn btn-primary btn-sm">Détail</a>
						<a href="{{ path ('product_create') }}" class="btn btn-success btn-sm">Ajouter</a>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
